<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>

<form action="/cambiar_cliente" method="POST">
  <div>
  <h2>Cambiar nombre del cliente</h2>
<!-- <select name="selectpicker" class="selectpicker">
<ul class="clientes">
  <% for(var i=0; i<clientes.length; i++) {%>
    <li class="cliente">
      <option><%= clientes[i].Nombre %></option>
    </li>
  <% } %>
</ul>
</select> -->
<input type="text" placeholder="Nuevo Nombre Cliente" name="nuevoname" id="nuevoname">
<input type="hidden" id="vari" name="vari">
<button id="update"> Cambiar </button>
</div>
<br><a href="/">Regresar</a>
</form>
<script src="main.js"></script>
</body>
</html>

<script>
  var url = window.location.href;
  var captured = /&([^&]+)/.exec(url)[1];

  document.getElementById('vari').value = captured;
</script>