<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>

<p> Productos existentes: </p>
<ul class="clientes">
  <% for(var i=0; i<productos.length; i++) {%>
    <li class="producto">
      <span><%= productos[i].Nombre %> - <%= productos[i].Estado %> <a href="/cambiar_estado?&<%= productos[i]._id %>"> editar </a></span>
    </li>
  <% } %>
</ul>


<p> Agregar Producto: </p>
<form action="/productos" method="POST">
  <input type="text" placeholder="Nombre Producto" name="Nombre">


  <select name="Estado">
  <% for(var i=0; i<status.length; i++) {%>
      <option><%= status[i].Status %></option>
  <% } %>
</select>
  <button type="Agregar Producto">Agregar</button>

<!--   <div>
  <h2>Delete An User</h2>
  <input type="text" placeholder="Nuevo Nombre Cliente Delete" name="Nombre Nuevo Delete" id="nuevonamedelete">
  <button id="delete"> Eliminar </button>
  </div> -->

</form>
<br><br>
<div w3-include-html="/qrsht"></div>
<script src="http://www.w3schools.com/lib/w3data.js"></script>
<script>
w3IncludeHTML();
</script>
<script src="main.js"></script>
</body>
</html>